body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titulo-page{
  color: white;
  font-weight: bold;
}

.listagem-produtos{
  margin-top: 2%;
  padding: 2%;
  list-style: none;
  
}


.listagem-produtos p{
  color: aliceblue;
  font-weight: bold;
  
}